{% extends 'base.html' %} {% load widget_tweaks %} {% block contenido %}
<div class="d-flex justify-content-center align-items-center">
  <form method="post" class="border p-5">
    {% csrf_token %}
  {% if error %}
  <p class="text-danger">{{error}}</p>
  {% endif %}
  {% for field in form.visible_fields %}
  <div class="mb-3">
    <label class="form-label"
      >{{field.label}} {{field|add_class:'form-control'}}
    </label>
  </div>
  {% endfor %}
  <button class="btn btn-success">Registrarse</button>
</form>
</div>

{% endblock contenido %}
